.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.todos-container{
  min-height:70vh;
  margin:40px auto;
  margin-bottom: 5rem;
}
.container > form{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.container > form > div{
  margin-left: 1rem;
}
input{
  height: 100%;
    font-size: 15px;
    width: 100%;
    border: 1px solid #cacaca;
    border-radius: 8px;
    padding: 10px;
}
.add-btn{
  padding: 1rem 2rem;
  background-color: rgb(38, 136, 221);
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 1rem;
}

.todo-container{
  text-align: left;
  padding: 1rem 2rem;
  border: 1px solid #cacaca;
  margin: 1rem;
}


.title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.done-btn, .delete-btn, .update-btn{
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 1rem;
  background-color: rgb(38, 136, 221);
}
.done-btn-complete {
  background-color: rgb(79, 196, 79);
}
.delete-btn, .done-btn-incomplete {
  background-color: rgb(206, 70, 70);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

